composer.lock
.idea
.vscode
.DS_Store
vendor
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/*.sqlite
/storage/*.sqlite-journal
/storage/debugbar
/storage/framework/cache/data
/storage/framework/sessions
/storage/framework/testing
/storage/framework/views
/storage/logs
.env
.env.backup
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log