composer.lock
.idea
.vscode
.DS_Store
vendor
/vendor
/public/storage
/storage/*.key
/storage/*.sqlite
/storage/*.sqlite-journal
/storage/framework/testing
.env
.env.backup
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log